### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Use the length of list with screen name "SN" for total players.
total_players = len(purchase_data["SN"].value_counts())

#Create data frame with total players name player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Calculation for Unique Items, Average Price, Total Purchase, Total Revenue
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchase = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#create Data Frame to display summary data
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Price":[average_price],
                           "Number of Purchases":[total_purchase],
                           "Total Revenue":[total_revenue]})
#formate with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#use Groupby fuction to collect purchase data by gender
gender_state = purchase_data.groupby("Gender")

#Total count of screen name "SN" by gender
total_count_gender = gender_state.nunique()["SN"]

#Count total of gender and divide by total players
percentage_of_players = total_count_gender / total_players * 100

#create data frame to collect values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

#formate the data frame with no index name
gender_demographics.index.name = None

#value sorted by decending order with two decimal place
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Total purchase ID by gender
purchase_count = gender_state["Purchase ID"].count()

#average purchase price ID by gender
avg_purchase_price = gender_state["Price"].mean()

#average purchase total per person by gender
avg_purchase_total = gender_state["Price"].sum()

#average purchase total by gender divided by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total / total_count_gender

#create data frame to collect values
gender_demographics = pd.DataFrame({"Purchase_Count": purchase_count,
                           "Average Purchase Price":avg_purchase_price,
                            "Total Purchase Value":avg_purchase_total,
                            "Avg Total Purchase per Person":avg_purchase_per_person})

#format with currency style
gender_demographics.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#collect bin for ages, Total Count and Percentage fo players
#create bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#sort age values into bins for ages
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

#create data frame with groupby to add "Age group"
age_grouped = purchase_data.groupby("Age Group")

#Count total players by age
total_count_age = age_grouped["SN"].nunique()

#calculate percentage by age
percentage_by_age = (total_count_age/total_players) * 100

#create data frame to collect values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count":total_count_age})

#data frame with no index name in the corner
age_demographics.index.name = None

#percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#run the calculations to collect purchase count, avg.purchase price,avg.purchase total
#count purchase by group
purchase_count_age = age_grouped["Purchase ID"].count()

#average purchase price by age group
avg_purchase_price_age = age_grouped["Price"].mean()

#calculate total purchase value by age group
total_purchase_value = age_grouped["Price"].sum()


#average purchase per person in the age group
avg_purchase_per_person_age = avg_purchase_price_age/total_count_age

#Data Frame to collect values
age_demographics = pd.DataFrame({"Purchase Count":purchase_count_age,
                                "Average Purchase Price":avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchase per Person":avg_purchase_per_person_age})
#Data frame with no index name 
age_demographics.index.name = None

#Format currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Top Spenders 
#purchase data by screen names
spender_stats = purchase_data.groupby("SN")

#total purchase by name
purchase_count_spender = spender_stats["Purchase ID"].count()

#avg purchase by name
avg_purchase_price_spender = spender_stats["Price"].mean()

#purchase total
purchase_total_spender = spender_stats["Price"].sum()

#data frame to collect the values
top_spenders = pd.DataFrame({"Purchase Count":purchase_count_spender,
                            "Average Purchase Price":avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
#sort in descending order
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Data frame with items
items = purchase_data[["Item ID","Item Name","Price"]]

#group items by item id and item name
item_stats = items.groupby(["Item ID","Item Name"])

#count number of times and item is purchased
purchase_count_item = item_stats["Price"].count()

#purchase value per items
purchase_value = (item_stats["Price"].sum())

#find item price
item_price = purchase_value/purchase_count_item

#Data frame to collect values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
#sort in descending order
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Format with Currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Most profitable items
#data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

#format currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})